.jmc-card-item {
    @include jmc_transition(400ms);
    @include jmc_transform(rotateY(180deg));

    .game_box {
        //height: 200px;

        figure {
            height: 200px;
            width: 200px;

            &.smallest {
                height: 70px;
                width: 70px;
            }

            &.small {
                height: 100px;
                width: 100px;
            }

            &.medium {
                height: 140px;
                width: 140px;
            }

            &.big {
                height: 200px;
                width: 200px;
            }

        }
    }

    &.active {
        @include jmc_transform(rotateY(0deg));
    }

    &.hide {
        visibility: hidden;
    }
}
.card-item{
    width: 200px;
    height: 200px;
    transition: 400ms;
    background-color: white;
    transform: rotateY(180deg);
    /*background-image: url("https://i.postimg.cc/dVsJ1yCC/one-piece-couv.png");*/
    background-position: center;
    background-size: cover;
    /*opacity: 1;*/
    cursor: pointer;
    display: block;
    margin: 10px;
}

.card-item.active {
    /*background-image: url("https://www.clipartkey.com/mpngs/m/244-2440924_tony-tony-chopper-chopper-one-piece-wallpaper-hd.png") ;*/
    transform: rotateY(0deg);
}

.card-item.hide {
    visibility: hidden;
}


/*

.card-item{
    width: 200px;
    height: 200px;
    transition: 400ms;
    background-color: white;
    transform: rotateY(180deg);
    !*background-image: url("https://i.postimg.cc/dVsJ1yCC/one-piece-couv.png");*!
    background-position: center;
    background-size: cover;
    !*opacity: 1;*!
    cursor: pointer;
    display: block;
    margin: 10px;
}

.card-item.active {
    !*background-image: url("https://www.clipartkey.com/mpngs/m/244-2440924_tony-tony-chopper-chopper-one-piece-wallpaper-hd.png") ;*!
    transform: rotateY(0deg);
}

.card-item.hide {
    visibility: hidden;
}*/
