.slider_section {
  .banner_main {
    position: relative;
    padding-top: $jmc-header-height;
    margin-bottom: -1px;
    //height: calc((-1 * 80px) + 100vh);
    height: 100vh;
    background-image: url('../images/bg_main.jpg');
    background-size: cover;
    //background-color: red;
    overflow: hidden;

    .text-bg a {
      width: 191px;
      background: #fcfcfc;
      padding: 9px 0px;
      color: #000;
      font-size: 17px;
      display: inline-block;
      text-align: center;
      margin-top: 20px;
      text-transform: uppercase;
      font-weight: 500;
      transition: all .4s ease-in;
    }
  }
  .text-bg {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: -56px;
  }
}