.Timer {
    position: absolute;
    display: flex;
    color: white;
    height: 20px;
    text-align: center;
    background: #f1ecec;
    border: 1px solid gray;
    //width: 100%;
    z-index: 102;
    width: calc(100% - 150px);
    margin-left: 75px;
}

.Timer .Progress {
    background: #e4a40f;
    width: 0%;
}

.Timer .Progress.Finished {
    //background: green;
    width: 100%;
}

.Timer strong {
    color: black;
    position: absolute;
    left: 50%;
}
@keyframes timer {
    100% {
        width: 100%;
    }
}
